.border-main {
  border: 1px red;
}

.bg-orange {
  background-color: rgba(255, 72, 0, 0.911);
}

.test {
  color: white;
}

.btn-getapp {
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 8px;
  color: white;
  font-weight: 800;
  background-color: transparent;
  transition: all 500ms;
}

.btn-getapp:hover {
  background-color: green;
}

li {
  list-style-type: none;
}

.card-tag {
  background-image: linear-gradient(to right, #fca452ee, #ff7b0007);
  color: #c05e02;
}
